.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__list {
  /* list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 100%;
  padding: 80px 0 40px; */
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, max-content) 1fr;
  column-gap: 20px;
  row-gap: 38px;
  padding-left: 0px;
}

.movies__button {
  display: flex;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background: #2F2F2F;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  padding: 11px 0;
  width: 320px;
  box-sizing: border-box;
  transition: 0.3s;
}

.movies__button:hover {
 opacity: 0.8;
}

/* @media screen and (max-width: 768px) {
  .movies__list {
    padding-bottom: 30px;
    padding-top: 70px;
  }
} */

@media(max-width: 1172px) {
  .movies__list {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    column-gap: 20px;
    row-gap: 38px;
    justify-items: center;
  }
}

/* @media screen and (max-width: 600px) {
  .movies__list {
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .movies__button {
    width: 240px;
  }
} */

@media(max-width: 1005px) {
  .movies__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 875px;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    column-gap: 30px;
    row-gap: 38px;
  }
}

@media(max-width: 742px) {
  .movies__list {
    margin-top: 40px;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    row-gap: 34px;
  }
}
